@import "src/styles/variables";

.root {
  margin-bottom: 15vh;
}

.container {
  display: grid;
  grid-template-columns: 50% 1fr;
  column-gap: 3em;

  &__images {
    grid-area: 1 / 1;
    max-height: 100%;
    row-gap: 2em;
    display: flex;
    flex-direction: column;
  }

  &__description {
    grid-area: 1 / 2;
    min-height: 60vh;
    padding-top: 2em;
    padding-bottom: 5em;
  }
}
