@import "src/styles/variables";

.menu {
  :global(.header.item) {
    font-weight: 500 !important;
    color: white !important;
    background-color: $orange !important;
    font-size: 1.2rem;
  }

  :global(.header.item.active) {
    font-weight: 600 !important;
    color: white !important;
    background-color: $orange !important;

    &:not(:hover) {
      background-color: $orange !important;
    }
  }

  :global(.item) {
    padding: 1.5rem 1.5rem !important;
  }

  :global(.item.active) {
    color: $orange !important;

    &:not(:hover) {
      background-color: white !important;
    }
  }

  :global(.item.active:not(.header)) {
    border-bottom: 1px solid $orange;
  }

  max-height: 600px;
}
