.inputField {
  margin-top: 0.5em !important;
}

.fileButton {
  width: 100% !important;
}

.form_button {
  margin-top: 5em !important;
  padding-left: 3em !important;
  padding-right: 3em !important;
}
