$vertical_margin: 6em;
$bottom_margin: 15vh;

$border_radius: 0.8rem;

$darkBackground: #323232;
$primaryGreen: #acce37;
$lightBlue: #94c2e8;
$brown: #a26e1a;
$blue: #0070b9;
$black: black;
$yellow: #e9c611;
$orange: #f6901e;
$gray: #6E6E6E;
