.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.segment {
  max-width: 350px;
}

.text {
  margin-bottom: 1em;
}

.form_buttons {
  display: flex;
  flex-direction: row-reverse;
}
