@import "src/styles/variables";

.container {
  $border-color: #e9e9e9;
  display: grid;
  grid-template-columns: 5em 2fr 1fr 7em 2em;
  padding: 1em;
  align-items: center;
  border-top: 1px solid $border-color;
  column-gap: 1em;

  &:last-child {
    border-bottom: 1px solid $border-color;
  }
}

.image {
  grid-area: 1 / 1;
  height: 100%;
}

.name {
  grid-area: 1 / 2;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2em;
}

.meta {
  grid-area: 1 / 3;
  color: #ADADAD;
}

.link {
  grid-area: 1 / 4;
  font-weight: 500;
  color: $orange;
}
