@import "src/styles/variables";

.zip {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.wrapper {
  height: 400px;
  margin: 2em 0 0;

  .marker {
    color: $orange;
    font-size: 3em;
    position: absolute;
    margin-left: -0.5em;
    margin-top: -1em;
  }
}
