.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  border-radius: 0.3rem;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    width: 100% !important;
  }
}
