.image {
  background-size: cover;
  object-fit: cover;
  background-color: lightblue;
  background-position: center;
  height: 110vh;
  width: 110vw;
}

.cover {
  background-color: rgba(1,156,197,0.62);
  height: 110vh;
  width: 110vw;
}
